body {
    max-width: 800px;
    padding: 20px;
    margin: auto;
    font-family: "Lucida Console", Courier, monospace;
    line-height: 1.5;
}

a {
    text-decoration: none;
    color: black;
}

p {
    margin-top: 30px;
}

.date {
    margin: 10px 0
}

.snippet {
    margin-top: 60px;
}

.preview {
    color: #464646;
}